<ng-include src="'app/components/shared/slider.html'"></ng-include>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">

					<div class="brands_products"><!--brands_products-->
						<h2>Brands</h2>
						<div class="brands-name">
							<ul class="nav nav-pills nav-stacked">
								<li ng-repeat="brand in brands"><a ng-href="javascript:angular.noop();"> <span class="pull-right"><!-- (50) --></span>{{brand.name}}</a></li>
							</ul>
						</div>
					</div><!--/brands_products-->

					<div class="price-range"><!--price-range-->
						<h2>Price Range</h2>
						 <article>
						    <rzslider
						      rz-slider-model="priceSlider.priceMin"
						      rz-slider-high="priceSlider.priceMax"
						      rz-slider-options="priceSlider.options"
						    ></rzslider>
						  </article>
					</div><!--/price-range-->

					<div class="price-range"><!--power-range-->
						<h2>Power Range</h2>
						 <article>
						    <rzslider
						      rz-slider-model="powerSlider.powerMin"
						      rz-slider-high="powerSlider.powerMax"
						      rz-slider-options="powerSlider.options"
						    ></rzslider>
						  </article>
					</div><!--/power-range-->

					<div class="price-range"><!--capacity-range-->
						<h2>Capacity Range</h2>
						 <article>
						    <rzslider
						      rz-slider-model="capacitySlider.capacityMin"
						      rz-slider-high="capacitySlider.capacityMax"
						      rz-slider-options="capacitySlider.options"
						    ></rzslider>
						  </article>
					</div><!--/capacity-range-->

					<div class="price-range"><!--milege-range-->
						<h2>Milege Range</h2>
						 <article>
						    <rzslider
						      rz-slider-model="milegeSlider.milegeMin"
						      rz-slider-high="milegeSlider.milegeMax"
						      rz-slider-options="milegeSlider.options"
						    ></rzslider>
						  </article>
					</div><!--/milege-range-->
					
				</div>
				<!-- <ng-include src="'app/components/shared/filter.html'"></ng-include> -->
			</div>
			
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Find Your Car</h2>
					<div class="col-sm-4" ng-repeat="product in productsDetailed"> <!-- filtered | rangeFilter:sliderRanges -->
						<div class="product-image-wrapper">
							<div class="single-products">
									<div class="productinfo text-center">
										<img src="assets/images/cars/{{product.imageurl}}" alt="" />
										<h2>{{product.price}}</h2>
										<p>{{product.model}}</p>
										<a ng-href="javascript:angular.noop();" ng-click="AddtoCart(product.idtbadproduct)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>{{product.price}}</h2>
											<p>{{product.model}}</p>
											<a ng-href="javascript:angular.noop();" ng-click="AddtoCart(product.idtbadproduct)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
							</div>
							<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<li><a ng-href="javascript:angular.noop();" ng-click="AddtoWishlist(product.idtbadproduct)"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
									<li><a ng-href="javascript:angular.noop();" ng-click="AddtoCompare(product.idtbadproduct)"><i class="fa fa-plus-square"></i>Add to compare</a></li>
								</ul>
							</div>
						</div>
					</div>	
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>