<ng-include src="'app/components/shared/slider.html'"></ng-include>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ng-include src="'app/components/shared/left_sidebar.html'"></ng-include>
			</div>
			
			<div class="col-sm-9 padding-right">
				
				<ng-include src="'app/components/shared/features_items.html'"></ng-include>
				
				<div class="category-tab"><!--category-tab-->
					<div class="col-sm-12">
						<ul class="nav nav-tabs">
							<li ng-repeat="brand in brands"><a href="#{{brand.path}}" data-toggle="tab">{{brand.name}}</a></li>
							
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade active in" ng-repeat="brand in brands" id="{{brand.path}}" >
							<div class="col-sm-3" ng-repeat="product in products | filter: { parentid: brand.idtbadbrand} ">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="assets/images/cars/{{product.imageurl}}" alt="" />
											<h2>{{product.price}}</h2>
											<p>{{product.model}}</p>
											<a ng-href="javascript:angular.noop();" ng-click="AddtoCart(product.idtbadproduct)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										
									</div>
								</div>
							</div>							
						</div>
					</div>
				</div><!--/category-tab-->
				
				<ng-include src="'app/components/shared/recommended_items.html'"></ng-include>
				
			</div>
		</div>
	</div>
</section>