<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#/home">Home</a></li>
			  <li class="active">Insurer</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Insurer</td>
						<td class="address">Address</td>
						<td class="contact">Contact Details</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="insurer in insurers">
						<td class="">
							<a href=""><img src="assets/images/insurer/{{insurer.imageurl}}" alt=""></a>
							<p>{{insurer.name}}</p>
						</td>
						<td class="">							
							<p>{{insurer.address}}</p>
						</td>
						<td class="">
							<p>{{insurer.website}}</p>
							<p>{{insurer.email}}</p>
							<p>{{insurer.phone}}</p>
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</section> 