<div class="features_items"><!--features_items-->
	<h2 class="title text-center">Features Items</h2>
	<div class="col-sm-4" ng-repeat="fitems in features_items | limitTo:fitems_qty ">
		<div class="product-image-wrapper">
			<div class="single-products">
					<div class="productinfo text-center">
						<img src="assets/images/cars/{{fitems.imageurl}}" alt="" />
						<h2>{{fitems.price}}</h2>
						<p>{{fitems.model}}</p>
						<a ng-href="javascript:angular.noop();" ng-click="AddtoCart(fitems.idtbadproduct)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
					<div class="product-overlay">
						<div class="overlay-content">
							<h2>{{fitems.price}}</h2>
							<p>{{fitems.model}}</p>
							<a ng-href="javascript:angular.noop();" ng-click="AddtoCart(fitems.idtbadproduct)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
						</div>
					</div>
			</div>
			<div class="choose">
				<ul class="nav nav-pills nav-justified">
					<li><a ng-href="javascript:angular.noop();" ng-click="AddtoWishlist(fitems.idtbadproduct)"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
					<li><a ng-href="javascript:angular.noop();" ng-click="AddtoCompare(fitems.idtbadproduct)"><i class="fa fa-plus-square"></i>Add to compare</a></li>
				</ul>
			</div>
		</div>
	</div>	
</div><!--features_items-->