<footer id="footer"><!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<h2><span><i class="fa fa-car" aria-hidden="true"></i></span>Cardrobe</h2>
						<p>welcome to cardrobe!!!!... cardrobe helps users to buy cars that are right for them...</p>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							
							<a href="https://www.youtube.com/embed/mCWFEToCXpY" target="_blank">
								<iframe width="130" height="60" src="https://www.youtube.com/embed/mCWFEToCXpY" frameborder="0" allowfullscreen></iframe>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Upcoming SUV and MPV in India 2016 - 2017</p>
							<h2></h2>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/embed/Gh_CJjBQ9bY" target="_blank">
								<iframe width="130" height="60" src="https://www.youtube.com/embed/Gh_CJjBQ9bY" frameborder="0" allowfullscreen></iframe>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Peugeot 5008 SUV 2017 Interior</p>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/embed/nVCkb4RTyPk" target="_blank">
								<iframe width="130" height="60" src="https://www.youtube.com/embed/nVCkb4RTyPk" frameborder="0" allowfullscreen></iframe>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Inilah Musuh Pajero Sport dan Fortuner</p>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://www.youtube.com/embed/5VAAj-5TLj8" target="_blank">
								<iframe width="130" height="60" src="https://www.youtube.com/embed/5VAAj-5TLj8" frameborder="0" allowfullscreen></iframe>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Vision Land Rover 2017</p>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="address">
						<img src="assets/images/home/map.png" alt="" />
						<p>Kizhakkambalam, Cochin, IN(India)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Popular Brands</h2>
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="brand in brands"><a href="{{brand.website}}" target="_blank">{{brand.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Dealers</h2>
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="dealer in dealers"><a href="{{dealer.website}}" target="_blank">{{dealer.name}}</a></li>
						</ul>
					</div>
				</div>				
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Finance</h2>
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="financier in financiers"><a href="{{financier.website}}" target="_blank">{{financier.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Insurance</h2>
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="insurer in insurers"><a href="{{insurer.website}}" target="_blank">{{insurer.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<div class="single-widget">
						<h2>About Shopper</h2>
						<form action="#" class="searchform">
							<input type="text" placeholder="Your email address" />
							<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
							<p>Get the most recent updates from <br />our site and be updated your self...</p>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2016 Cardrobe Inc. All rights reserved.</p>
				<p class="pull-right">Designed by <span><a target="_blank" href="http://www.cardrobe.in">Cardrobe</a></span></p>
			</div>
		</div>
	</div>
	
</footer><!--/Footer-->