<header id="header"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> +91 8281 260 462</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> info@cardrobe.in</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header_top-->
	
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo pull-left">
						<a href="#/home"><img src="assets/images/cardrobe_logo.png" alt="" style="width: 100px;"/></a>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
							<!-- <li><a href="#"><i class="fa fa-user"></i> Account</a></li> -->
							<li><a href="#/wish_items"><i class="fa fa-star"></i> Wishlist</a></li>
							<li><a href="#/compare_items"><i class="fa fa-star"></i> Compare</a></li>
							<li><a href="#/cart_items"><i class="fa fa-shopping-cart"></i> Cart</a></li>
							<!-- <li><a href="#/404"><i class="fa fa-crosshairs"></i> Checkout</a></li>							
							<li><a href="#/login"><i class="fa fa-lock"></i> Login</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-middle-->

	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="#/home" class="active">Home</a></li>
							<li><a href="#/about_us">About</a></li>
							<li class="dropdown"><a ng-href="javascript:angular.noop();">Services<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="#/find_a_car">Find a Car</a></li>
									<li><a href="#/dealer">Dealers</a></li> 
									<li><a href="#/financier">Financier</a></li> 
									<li><a href="#/insurer">Insurer</a></li>
									<li><a href="#/emi_calculator">EMI Calculator</a></li>
									<!-- <li><a href="#/emi_calculator">Premium Calculator</a></li> --> 
									<!-- <li><a href="#/offers">Offers</a></li>  -->
                                </ul>
                            </li>
                            <li><a href="#/blog">Blog</a></li>
							<li><a href="#/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="search_box pull-right">
						<input type="text" placeholder="Search"/>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-bottom-->
</header><!--/header-->