<div class="left-sidebar">

	<div class="brands_products"><!--brands_products-->
		<h2>Brands</h2>
		<div class="brands-name">
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="brand in brands"><a ng-href="javascript:angular.noop();"> <span class="pull-right"><!-- (50) --></span>{{brand.name}}</a></li>				
			</ul>
		</div>
	</div><!--/brands_products-->

</div>