<section id="slider"><!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>
					
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h2>Your Dream Ride You Can Never Miss</h2>
								<p>our mission is to bring joy and satisfaction into car buying ...</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="assets/images/cars/bmw_m3_sedan.png" class="girl img-responsive" alt="" />
								<!-- <img src="assets/images/home/pricing.png"  class="pricing" alt="" /> -->
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h2>Your Ride Looks Good It Refers To The Car</h2>
								<p>To achieve this ,we make people aware about all the information on cars through our reviews,detailed specifications  and comparisons ...</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="assets/images/cars/bmw_m4_coupe.png" class="girl img-responsive" alt="" />
								<!-- <img src="assets/images/home/pricing.png"  class="pricing" alt="" /> -->
							</div>
						</div>
						
						<div class="item">
							<div class="col-sm-6">
								<h2>Throttle Up The Ride</h2>
								<p>we understand that to buy a car is an ambition or mostly the second expensive asset a consumer associates his lifestyle ...</p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="assets/images/cars/bmw_x1.png" class="girl img-responsive" alt="" />
								<!-- <img src="assets/images/home/pricing.png" class="pricing" alt="" /> -->
							</div>
						</div>
						
					</div>
					
					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</section><!--/slider-->