<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#/home">Home</a></li>
			  <li class="active">Financier</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Financier</td>
						<td class="address">Address</td>
						<td class="contact">Contact Details</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="financier in financiers">
						<td class="">
							<a href=""><img src="assets/images/financier/{{financier.imageurl}}" alt=""></a>
							<p>{{financier.name}}</p>
						</td>
						<td class="">							
							<p>{{financier.address}}</p>
						</td>
						<td class="">
							<p>{{financier.website}}</p>
							<p>{{financier.email}}</p>
							<p>{{financier.phone}}</p>
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</section> 