<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#/home">Home</a></li>
			  <li class="active">Dealer</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Dealer</td>
						<td class="address">Address</td>
						<td class="contact">Contact Details</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dealer in dealers">
						<td class="">
							<a href=""><img src="assets/images/dealer/{{dealer.imageurl}}" alt=""></a>
							<p>{{dealer.name}}</p>
						</td>
						<td class="">							
							<p>{{dealer.address}}</p>
						</td>
						<td class="">
							<p>{{dealer.website}}</p>
							<p>{{dealer.email}}</p>
							<p>{{dealer.phone}}</p>
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</section> 