<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="row">
                    <div class="col-sm-4"><h4>Loan Amount</h4><input value='{{loanAmountSlider.value}}' ng-change="emiCalculation()" ng-model="loanAmountSlider.value"></div>
                    <div class="col-sm-8"><rzslider rz-slider-model="loanAmountSlider.value"></rzslider></div>
                </article>
                <article class="row">
                    <div class="col-sm-4"><h4>Down Payment</h4><input value='{{downPaymentSlider.value}}' ng-change="emiCalculation()" ng-model="downPaymentSlider.value"></div>
                    <div class="col-sm-8"><rzslider rz-slider-model="downPaymentSlider.value"></rzslider></div>
                </article>
                <article class="row">
                    <div class="col-sm-4"><h4>Number of Months</h4><input value='{{numberMonthSlider.value}}' ng-change="emiCalculation()" ng-model="numberMonthSlider.value"></div>
                    <div class="col-sm-8"><rzslider rz-slider-model="numberMonthSlider.value"></rzslider></div>
                </article>
                <article class="row">
                    <div class="col-sm-4"><h4>Interest Rate</h4><input value='{{interestRateSlider.value}}' ng-change="emiCalculation()" ng-model="interestRateSlider.value"></div>
                    <div class="col-sm-8"><rzslider rz-slider-model="interestRateSlider.value"></rzslider></div>
                </article>


            </div>
            <div class="col-sm-4">
                <h2 class="title text-center">EMI Amount</h2>
                <h3 class="title text-center">&#x20a8; {{amount.emi}}</h3>
                <h2 class="title text-center">Payable Amount</h2>
                <h3 class="title text-center">&#x20a8; {{amount.payable}}</h3>
                <h2 class="title text-center">Total Interest</h2>
                <h3 class="title text-center">&#x20a8; {{amount.interest}}</h3>
            </div>

        </div>
    </div>
</section> 