<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#">Home</a></li>
			  <li class="active">Compare Items</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description">Details</td>
						<td class="price">Price</td>
						<td class="total">Compare</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="compareitems.length =='0'">
						<td>There are no products added to display</td>
					</tr>
					<tr ng-repeat="compareitem in compareitems | unique: 'idtbadproduct'">
						<td class="cart_product">
							<a href=""><img src="assets/images/cars/{{compareitem.imageurl}}" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">{{compareitem.model}}</a></h4>
							<p>Car ID: {{compareitem.idtbadproduct}}</p>
						</td>
						<td class="cart_price">
							<p>{{compareitem.price}}</p>
						</td>						
						<td class="cart_total">
							<p class="cart_total_price"><input type="checkbox"></p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->