<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ng-include src="'app/components/shared/left_sidebar.html'"></ng-include>
			</div>

			<div class="col-sm-9">
				<h2 class="title text-center">About Cardrobe ...</h2>

				<p>welcome to cardrobe.!!!!...cardrobe helps users to buy cars that are right for them..<br>
				we facilitate car buyers to research and buy their dream carsss....<br>
				This website contains expert reviews detailed specs and prices, comparisons, videos and pictures, finance and insurance help of all car brands and models available in India.</p>


				<h2 class="title text-center">Mission ...</h2>
				<p>our mission is to bring joy and satisfaction into car buying...<br>
				To achieve this, we make people aware about all the information on cars through our reviews,detailed specifications  and comparisons...</p>
				<h2 class="title text-center">History ...</h2>
				<p>we understand that to buy a car is an ambition or mostly the second expensive asset a consumer associates his lifestyle.<br>
				so we thought about a common platform where car enthusiasts could get together and have free access to unbiased & honest information on the Car Scene..<br>
				with this view in mind we started this web site  by a team of five..</p>

			</div>		

		</div>
	</div>
</section>