<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ng-include src="'app/components/shared/left_sidebar.html'"></ng-include>
			</div>
			<div class="col-sm-9">
				<div class="blog-post-area">
					<h2 class="title text-center">Latest From our Blog</h2>
					<div class="single-blog-post" ng-repeat="blog in blogs">
						<h3>{{blog.tittle}}</h3>
						<div class="post-meta">
							<ul>
								<li><i class="fa fa-user"></i>{{blog.author}}</li>
								<li><i class="fa fa-clock-o"></i>{{blog.time}}</li>
								<li><i class="fa fa-calendar"></i>{{blog.date}}</li>
							</ul>
							<span>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
							</span>
						</div>
						<a href="">
							<img src="assets/images/blog/{{blog.imageurl}}" alt="">
						</a>
						<p>{{blog.description}}</p>
						<a  class="btn btn-primary" ng-href="javascript:angular.noop();" ng-click="getBlogDetails(blog.idtbadblog)">Read More</a>
					</div>
					
					<!-- <div class="pagination-area">
						<ul class="pagination">
							<li><a href="" class="active">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>