<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ng-include src="'app/components/shared/filter.html'"></ng-include>
			</div>
			<div class="col-sm-9">
				<div class="blog-post-area">
					<h2 class="title text-center">Latest From our Blog</h2>
					<div class="single-blog-post">
						<h3>{{blogdetails.tittle}}</h3>
						<div class="post-meta">
							<ul>
								<li><i class="fa fa-user"></i>{{blogdetails.author}}</li>
								<li><i class="fa fa-clock-o"></i>{{blogdetails.time}}</li>
								<li><i class="fa fa-calendar"></i>{{blogdetails.date}}</li>
							</ul>
							<span>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-o"></i>
							</span>
						</div>
						<a href="">
							<img src="assets/images/cars/bmw/bmw_m3_sedan.png" alt="">
						</a>
						<p>{{blogdetails.description}}</p> <br>
						<!-- <div class="pager-area">
							<ul class="pager pull-right">
								<li><a href="#">Pre</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div> -->
					</div>
				</div><!--/blog-post-area-->

				<div class="rating-area">
					<ul class="ratings">
						<li class="rate-this">Rate this item:</li>
						<li>
							<i class="fa fa-star color"></i>
							<i class="fa fa-star color"></i>
							<i class="fa fa-star color"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</li>
						<li class="color">(6 votes)</li>
					</ul>
					<ul class="tag">
						<li>TAG:</li>
						<li><a class="color" href="">Pink <span>/</span></a></li>
						<li><a class="color" href="">T-Shirt <span>/</span></a></li>
						<li><a class="color" href="">Girls</a></li>
					</ul>
				</div><!--/rating-area-->

				<div class="socials-share">
					<a href=""><img src="assets/images/blog/socials.png" alt=""></a>
				</div><!--/socials-share-->

				<!-- <div class="media commnets">
					<a class="pull-left" href="#">
						<img class="media-object" src="assets/images/blog/man-one.jpg" alt="">
					</a>
					<div class="media-body">
						<h4 class="media-heading">{{blogdetails.cauthor}}</h4>
						<p>{{blogdetails.comment}}</p>
						<div class="blog-socials">
							<ul>
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
							<a class="btn btn-primary" href="">Other Posts</a>
						</div>
					</div>
				</div> --><!--Comments-->
				<div class="response-area">
					<!-- <h2>3 RESPONSES</h2> -->
					<ul class="media-list">
						<li class="media" ng-repeat="blogcomment in blogcomments">
							
							<a class="pull-left" href="#">
								<img class="media-object" src="assets/images/blog/user.png" alt="">
							</a>
							<div class="media-body">
								<ul class="sinlge-post-meta">
									<li><i class="fa fa-user"></i>{{blogcomment.cauthor}}</li>
									<li><i class="fa fa-clock-o"></i>{{blogcomment.time}}</li>
									<li><i class="fa fa-calendar"></i>{{blogcomment.date}}</li>
								</ul>
								<p>{{blogcomment.comment}}</p>
								<!-- <a class="btn btn-primary" href=""><i class="fa fa-reply"></i>Replay</a> -->
							</div>
						</li>
					</ul>					
				</div><!--/Response-area-->
				<div class="replay-box">
					<div class="row">
						<div class="col-sm-4">
							<h2>Leave a replay</h2>
							<form>
								<div class="blank-arrow">
									<label>Your Name</label>
								</div>
								<span>*</span>
								<input type="text" placeholder="write your name..." ng-model="postcomment.name">
								<div class="blank-arrow">
									<label>Email Address</label>
								</div>
								<span>*</span>
								<input type="email" placeholder="your email address..." ng-model="postcomment.email">
								<div class="blank-arrow">
									<label>Web Site</label>
								</div>
								<input type="email" placeholder="current city..." ng-model="postcomment.city">
							</form>
						</div>
						<div class="col-sm-8">
							<div class="text-area">
								<div class="blank-arrow">
									<label>Your Comment</label>
								</div>
								<span>*</span>
								<textarea name="message" rows="11" ng-model="postcomment.comment"></textarea>
								<a class="btn btn-primary" ng-href="javascript:angular.noop();" ng-click="postComment()">post comment</a>
							</div>
						</div>
					</div>
				</div><!--/Repaly Box-->
			</div>	
		</div>
	</div>
</section>